.banner {
  width: 80vw;
}

.charts {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#pie_chart_container {

  width: 30vw;
  margin: 0 auto;
}

#bar_chart_container {
  width: 50vw;
  margin: 0 auto;

}

#kpi_cards {
  display: flex;
  justify-content: space-around;
}

.kpi {
  text-align: center;
}