.banner {
  width: 100vw;
}

.charts {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#pie_chart_container {

  width: 20%;
  margin: 0 auto;
  padding: 20px;
}

#bar_chart_container {
  width: 30%;
  margin: 0 auto;

}

#kpi_cards {
  display: flex;
  justify-content: space-around;
}

.kpi {
  text-align: center;
}